@charset "utf-8";





header {
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.subtitle {
    text-align: center;
}

p {
    text-align: left;
}

img {
    background-image: url("imagens/background001.jpg");
    background-size: cover;
    background-position: center;
    padding: 80px 20px;
}